@import "tailwindcss";

/* ===== ШРИФТЫ ===== */
@font-face {
  font-family: 'Kudry';
  src: url('@assets/kudry_weird-headline_1774703405902.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Literature';
  src: url('@assets/Literature-Decor_1774703410324.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LaborUnion';
  src: url('@assets/LaborUnion-Regular_1774703422836.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AnticDidone';
  src: url('@assets/AnticDidone-Regular_1774704996263.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html, body {
    background: #000;
    color: #fff;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    touch-action: pan-x pan-y;
  }

  #root {
    min-height: 100%;
  }
}
